html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

ul {
  padding: 0;
  margin: 0;
}

// Variables

h1 {
  font-size: 2.5rem;
  padding: 1px 2px 3px 4px;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

h4 {
  font-size: 1rem;
  margin: 10px 0px;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

// Global

.title-text {
  display: inline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;

  @media (max-width: 960px) {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @media (max-width: 540px) {
    align-items: flex-start;
  }
  &__item {
    margin: 0 10px;

    @media (max-width: 960px) {
      margin-bottom: 30px;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 40px;

  img {
    max-width: 100px;
  }
}

// Profile Image And Description
.person {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  @media (max-width: 960px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  &__name {
    font-size: 70px;
    margin-bottom: 5px;

    @media (max-width: 540px) {
      font-size: 50px;
    }
  }

  &__desc {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  &__avatar {
    flex-shrink: 0;
    margin-right: 20px;
  }
}

.socials {
  &__list {
    display: flex;
    list-style-type: none;
    margin-left: 80px;

    @media (max-width: 960px) {
      margin: 0;
    }

    li {
      margin: 0 15px;

      @media (max-width: 960px) {
        &:nth-child(1) {
          margin-left: 0;
        }
      }
    }
  }

  a {
    text-decoration: none;
    font-size: 40px;
    color: black;
    transition: 0.2s;
    &:hover {
      color: lighten(black, 50%);
    }
  }
}

// Skills Section

.skills {
  border-left: 1px solid black;
  padding: 0px 10px;
  h4 {
    margin-bottom: 10px;
  }

  &__list {
    margin-left: 30px;

    li {
      margin-bottom: 5px;
    }
  }

  &__soft {
    margin-top: 10px;
  }
}

// Education Section

.education {
  border-left: 1px solid black;
  padding: 0px 10px;

  &__desc {
    font-size: 1rem;
    max-width: 300px;
  }

  &__list {
    max-width: 200px;
    margin-left: 30px;

    li {
      margin-bottom: 5px;
      line-height: 1.5;
    }
  }
}

// Experience Section
.exp {
  border-left: 1px solid black;
  padding: 0px 10px;

  &__desc {
    font-size: 1rem;
    max-width: 300px;
  }

  ul {
    list-style-type: none;
  }

  a {
    color: black;
    text-decoration: none;

    transition: 0.2s;

    &:hover {
      color: lighten(black, 50%);
    }
  }
}

// About Article

.about {
  border-left: 1px solid black;
  padding: 0 10px;
  &__title {
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 1rem;
    max-width: 300px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
  padding: 20px 0px;
  color: white;
  background-color: black;
}
